/* rem - RELATIVE depends on root
1rem = 16px default browser style;
 */

 html{
     font-size: 32px; /*root , now 1 rem = 32px*/
 }
 div {
     font-size: 20px;
 }

 .relative {
     font-size: 2rem;
 }

 .absolute {
     font-size: 32px;
 }